.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  padding: 20px;
  width: 1380px;
}


.item {
  background-color:lightseagreen;
  padding: 20px;
}

.noReview {
    padding: 40px;
}